*{
    padding: 0; 
    margin: 0;
 }
 .section-1{
     min-height: 100vh;
 }
 body {
     font-family: 'Raleway', sans-serif ;
 }
 
 .bg{
     min-height: 80vh;
     padding-left: 3rem;
     top: 0px;
     left: 0px;
     height: 500px;
     background: transparent linear-gradient(270deg, #14E5EF 0%, #6B00A3 100%) 0% 0% no-repeat padding-box;
     border-radius: 0px 0px 600px 600px/30px 60px 90px 120px;
 }
 .nav{
  min-height: 8vh ;
  padding-top: 3rem;
  color: white;
  font-size: 15px;
  display: flex;
  font-family:'Raleway', sans-serif ;
  font-weight: bold;
 }
 ul {
     list-style: none;
     display: flex;
     flex: 1 1 20rem;
     justify-content: space-around;
     align-items: center;
   }
 .ul-group-1{
     display: flex;
     justify-content: space-around;
     flex: 1 1 10rem;
 }
 li{
     display: flex;
 }
 .ul-group-1 li:hover{
     border-bottom-style: solid;
     border-block-end-color:#FFCE00 ;
     border-width: 2px;
     cursor: pointer;
 }
 .ul-group-2 .Sign-up:hover{
  width: 5rem;
  height: 2rem;
  font-size: 20px;
  cursor: pointer;
 }
 .ul-group-2 .Log-in:hover{
     .dot{
         position: absolute;
         margin-top: 1.3rem;
         margin-left: 1rem;
        width: 5px;
        height: 5px;
        background-color:#FFCE00 ;
        border-radius: 50%;
     }
     cursor: pointer;
    }
 .ul-group-2{
     display: flex;
     justify-content: space-around;
     flex: 1 1 10rem;
 }
 .logo{
     flex: 1 1 10rem;
     
 }
 .Sign-up{
     width:4rem;
     height: 1.5rem;
     background:#FFCE00; 
     border-radius: 18px;
     align-items: center;
     padding-top: 8px;
     padding-left: 15px;
     color: rgb(0, 0, 0);
     margin-right: 90px;
 }
 .Log-in,.App{
     margin-left: 100px;
 }
 .text{
     margin-top: 5rem ;
     margin-left: 4rem;
     color: white;
  h5,p{
     font-family: 'Kumbh Sans', sans-serif;
      font-size: 15px;
      font-weight: lighter;
      
      
  }
  h1{ font-family: 'Raleway', sans-serif;
      font-weight: bolder;
      font-size: 58px;
      padding-bottom: 30px;
  }
  
 }
 .section-1-group{
     display: flex;
     position: relative;
     .Path{
         margin-top: 7rem;
         margin-left: 9rem;
         width: 25rem;
     }
     .img1,.img2,.img3{
         width: 3.5rem;
     }
 }
 .img-3group{
     width: 90px;
     height: 90px;
     display: flex ;
     flex-direction: column;
     position: relative;
     .img1,.img2,.img3{
       position: absolute;
     }
     .img2{
        top: 27%;
        left: 20%;
     }
     .img1{
         top: 47%;
        left: -8%;
     }
     position: absolute; 
     top: 54%;
     left: 49%;
     animation: path-move 6s infinite 0s linear;
 }
 .cards{
     display: flex;
     margin-left: 8rem;
     margin-right: 15rem;
     padding-top: 5rem;
     justify-content: space-around;
     flex: 1 1 10rem;
     position: relative;;
    .card-1,.card-2,.card-3{
     background:white; 
     border-radius: 18px;
     width: 12rem;
     height: 10rem;
     box-shadow: 15px 15px 10px #00000026;
     margin-top: 11px; 
     padding-top: 30px;
     padding-left: 20px;
     font-family: 'Raleway', sans-serif;
     font-weight: bolder;
    }
   .div-1{
     width: 10rem;
     height: 10rem;
     
   }
    div h5{
     position: absolute;
  width:20px;
  height: 20px;
  background:#FFCE00; 
  border-radius: 50%;
  align-items: center;
  padding-top: 5px;
  padding-left: 12px;
  padding-bottom: 10px;
  margin-left: 4px;
  padding-right: 3px;
  font-size: 18px;
 
 }
 img{
     width: 55px;
     padding-bottom: 20px;
     padding-top: 10px;
 }
 }
 .card-1:hover,.card-2:hover,.card-3:hover{
     background: transparent linear-gradient(270deg, #6B00A3 0%,#14E5EF  100%) 0% 0% no-repeat padding-box; 
 }
 /////////////////////////////////////////////////////////
 .section-2-group{
     min-height: 75vh;
     display: flex;
     padding-top: 3rem;
     padding-left: 2rem;
     margin-top: 2rem;
 }
 .section-2-group-1{
     min-height: 60vh;
     min-width: 50%;
     position: relative;
     .i{
         width: 85px;
         position: absolute;
        
         
     }
     .i-1{
         top: 17%;
         left: 35%; 
         animation:top-right-move 5s infinite;
     }
     
     .i-2{
         top:34% ; 
         left: 57%;
         animation: top-bottom-move 5s infinite;
     }
     .i-3{
         top: 57%;
         left: 20%;
         animation: top-left-move 5s infinite;
     }
     .i-4{
         padding: 8rem;
         
     }}
 
 
 .section-2-group-2{
     min-height: 60vh;
     min-width: 50%;
     padding-top: 9rem;
     h1{
         padding-bottom: 20px;
         font-weight: bolder;
         font-size: 3rem;
         font-family: 'Raleway', sans-serif;
     }
     div h6{
         color: white;
         font-weight: lighter;
         font-family: 'Kumbh Sans', sans-serif; 
         width: 95px;
         height: 15px;
         padding-top: 5px;
         padding-left: 5px;
         font-size: 13px;
         background: #6B00A3 0% 0% no-repeat padding-box;}
     img{
         width: 15px;
         margin-left: 10px;
     }
     .potton{
         display: flex; 
         font-size: 0.8rem;
         width:100px;
         height: 30px;
         background:#FFCE00; 
         border-radius: 20px;
         align-items: center;
         padding-top: 3px;
         padding-left: 15px;
         margin-top: 2rem;
     }
 }
 /////////////////////////////////////////////////////
 .section-3-group{
     min-height: 45vh;
     min-width: 100%;
     background: transparent linear-gradient(270deg, #6B00A3 0%,#14E5EF  100%) 0% 0% no-repeat padding-box;
     display: flex;
 }
 .section-3-group-1{
     min-width: 40%;
     padding-left: 8rem;
     padding-top: 4rem;
     color: white;
     font-size: 1.5rem;
     div h6{
         color: rgb(0, 0, 0);
         font-weight: lighter;
         font-family: 'Kumbh Sans', sans-serif; 
         width: 95px;
         height: 15px;
         padding-top: 5px;
         padding-left: 5px;
         font-size: 13px;
         background: #FFCE00 0% 0% no-repeat padding-box;}
 }
 .section-3-group-2{
     padding-top: 7rem;
    img{width: 6rem;}
 }
 ///////////////////////////////////////////////////////
 .section-4-group{
     min-height: 75vh;
    display: flex;
 }
 .section-4-group-1{
  min-width: 50%;
  position: relative;
  img{
      position: absolute;
  }
  .i-3{
   top: 25%;
   left: 30%;
  }
  .i-2{
     top: 27%;
     left: 36%; 
     animation: rotate 6s linear 0s infinite normal;
  }
  .i-1{
     top: 39%;
     left: 46%;
     animation: myOrbit-y 4s linear infinite; 
  }
  .i-4{
     top: 43%;
     left: 47%;
     animation: myOrbit 4s linear infinite; /* Chrome, Firefox 16+, 
                                                       IE 10+, Safari 5 */
  }
 }
 .section-4-group-2{
     padding-top: 8rem;
     h1{
         font-size: 3.5rem;
         padding-bottom: 2rem;
     }
 div h6{
     color: rgb(255, 255, 255);
     font-weight: lighter;
     font-family: 'Kumbh Sans', sans-serif; 
     width: 120px;
     height: 15px;
     padding-top: 5px;
     padding-left: 5px;
     font-size: 13px;
     background: #3B78FF 0% 0% no-repeat padding-box;}
 }
 ////////////////////////////////////////////////
 footer{
     min-height: 25%;
     background: #F5F5F5 0% 0% no-repeat padding-box;
     padding-bottom: 2.5rem ;
     ul li{
       color: #9C9B9B;
       font-size: 11px;
      
     }
     .imgs{
         margin-right:7rem ;
     }
     .Follow{
         margin-left: 7rem;
     }
 }
 /////////////////////////////////////////
 .left-img{
     animation: left-move 5s infinite;
 }
 .right-img{
     animation: right-move 5s infinite;
 }
 .left-c-img{
     animation: left-c-move 5s infinite;
 }
 .right-c-img{
     animation: right-c-move 5s infinite;
 }
 
 ////////////////////////////////////////////
 
 @keyframes top-bottom-move {
     0%   {transform: translateY(0px) ;}
    
     50%  {transform: translateY(100px) ;}
    
     100% {transform: translateY(0px)}
   }
 
 @keyframes top-left-move {
     0%   {transform: translateY(0px) ;}
    
     50%  {transform: translateY(60px) translateX(100px);}
    
     100% {transform: translateY(0px)}
   }
 @keyframes top-right-move {
     0%   {transform: translateY(0px) ;}
    
     50%  {transform: translateY(70px) translateX(-110px);}
    
     100% {transform: translateY(0px)}
   }
 
   @keyframes path-move{
     0%{
         transform: translateX(0px) translateY(0px);
         }
     4%{
         transform: translateX(15px) translateY(-18px);
         }
     9%{
         transform: translateX(70px) translateY(-70px);
         }
     12%{
         transform: translateX(120px) translateY(-70px);
         }
     16%{
         transform: translateX(171px) translateY(-45px);
         }
     20%{
         transform: translateX(220px) translateY(-80px);
         }
     24%{
         transform: translateX(270px) translateY(-100px);
         }
     28%{
         transform:  translateX(300px) translateY(-100px);
         }
     32%{
         transform:  translateX(320px) translateY(-100px);
         }
     36%{
         transform: translateX(350px) translateY(-90px);
         }
     40%{
         transform: translateX(380px) translateY(-90px);
         }
     44%{
         transform: translateX(390px) translateY(-90px);
         }
    
     
        
         59%{
             transform: translateX(390px) translateY(-90px);
             }
         62%{
             transform: translateX(380px) translateY(-90px);
             }
         66%{
             transform: translateX(350px) translateY(-90px);
             }
         70%{
             transform: translateX(320px) translateY(-100px);
             }
         74%{
             transform: translateX(300px) translateY(-100px);
             }
         78%{
             transform:  translateX(270px) translateY(-100px);
             }
         82%{
             transform:  translateX(220px) translateY(-80px);
             }
         86%{
             transform: translateX(171px) translateY(-45px);
             }
         90%{
             transform: translateX(120px) translateY(-70px);
             }
       
         100%{
             transform:  translateX(15px) translateY(-18px);
             }
         
 }
 
    
 
 
 
   @keyframes left-move {
     0%   {transform: translateY(0px) ;}
    
     50%  {transform:  translateX(-50px);}
    
     100% {transform: translateY(0px)}
   }
   @keyframes right-move {
     0%   {transform: translateY(0px) ;}
    
     50%  {transform:  translateX(50px);}
    
     100% {transform: translateY(0px)}
   }
   @keyframes left-c-move {
     0%   {transform: translateY(0px) ;}
    
     50%  {transform:  translateY(-50px);}
    
     100% {transform: translateY(0px)}
   }
   @keyframes right-c-move {
     0%   {transform: translateY(0px) ;}
    
     50%  {transform:  translateY(50px);}
    
     100% {transform: translateY(0px)}
   }
 
 
 @keyframes rotate {
     0% { transform: rotate(360deg); }
     100% { transform: rotate(0deg); }
 }
 ////////////////////
 
 @keyframes myOrbit {
     from { transform: rotate(0deg) translateX(110px) rotate(0deg); }
     to   { transform: rotate(360deg) translateX(110px) rotate(-360deg); }
 }
 @keyframes myOrbit-y {
     from { transform: rotate(0deg) translateX(-110px) rotate(0deg); }
     to   { transform: rotate(360deg) translateX(-110px) rotate(-360deg); }
 }
 
   .potton:hover {
    
     transform: scale(1.5);
  
   }
   
 